<p id="notice"><%= notice %></p>
<div class="row">
  <h1>Danh sách đơn hàng</h1>
  <div class="pull-right range-query">
    <%= form_tag invoices_path, method: :get do %>
      <%= text_field_tag 'search[date_from]', @search.date_from %>
      <%= text_field_tag 'search[date_to]', @search.date_to %>
      <%= submit_tag 'Search', class: 'btn btn-secondary btn-sm' %>
    <% end %>
  </div>
</div>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">

  <thead>
    <tr>
      <th>Ngày bán </th>
      <th>Khách hàng</th>
      <th>Mã số thuế</th>
      <th>Số điện thoại</th>
      <th>Người bán</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.date.strftime("%Y-%m-%d")%></td>
        <td><%= invoice.customer&.name %></td>
        <td><%= invoice.tax %></td>
        <td><%= invoice.phone %></td>
        <td><%= invoice.saleperson %></td>
        <td><%= link_to 'Xem', invoice %></td>
        <td><%= link_to 'Sửa', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Xóa', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>

<%= link_to 'Thêm mới', new_invoice_path , class:"btn btn-primary"%>
