<p id="notice"><%= notice %></p>

<div class="row">
  <h1>Danh sách khách hàng</h1>
</div>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
  <thead>
    <tr>
      <th>Khách hàng</th>
      <th>Điện thoại</th>
      <th>Email</th>
      <th>Địa chỉ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= customer.address %></td>
        <td><%= link_to 'Xem', customer %></td>
        <td><%= link_to 'Sửa', edit_customer_path(customer) %></td>
        <td><%= link_to 'Xóa', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

<%= link_to 'Thêm mới', new_customer_path %>
