<p id="notice"><%= notice %></p>

<p>
  <strong>Khách hàng:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Điện thoại:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Địa chỉ:</strong>
  <%= @customer.address %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
