<p id="notice"><%= notice %></p>

<p>
  <strong>Sản phẩm:</strong>
  <%= @purchase.product %>
</p>

<p>
  <strong>Danh mục:</strong>
  <%= @purchase.category %>
</p>

<p>
  <strong>Số lượng:</strong>
  <%= @purchase.quantity %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @purchase.invoice_id %>
</p>


